@keyframes gradientMove {
  0% {
    background-position: 20% 20%, 80% 80%;
  }

  50% {
    background-position: 25% 30%, 75% 70%;
  }

  100% {
    background-position: 20% 20%, 80% 80%;
  }
}

.animatedBackground {
  height: 100vh;

  background:
    radial-gradient(circle at 20% 20%, #632cba 0%, transparent 40%),
    radial-gradient(circle at 80% 80%, #EC4899 0%, transparent 40%),
    #0F0F12;

  background-size: 150% 150%;
  animation: gradientMove 14s ease-in-out infinite;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  color: white;  
  text-align: center;
  font-family: Inter, sans-serif;
}