@keyframes gradientMove {
  0% {
    background-position: 20% 20%, 80% 80%;
  }

  50% {
    background-position: 25% 30%, 75% 70%;
  }

  100% {
    background-position: 20% 20%, 80% 80%;
  }
}

.animatedBackground {
  height: 100vh;

  background:
    linear-gradient(135deg, #0f0c29, #302b63, #24243e);

  background-size: 150% 150%;
  animation: gradientMove 14s ease-in-out infinite;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  color: white;  
  text-align: center;
  font-family: Inter, sans-serif;
  position:relative;
  z-index:1;
}